* { box-sizing: border-box;text-align: center;}

h1
{color: black;
    
    }
h3 
{font-family: 'Roboto', sans-serif;  color: brown;}


    

body
{background-color: navajowhite;}
  
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: whitesmoke;
    }}


section{
    width:auto;
    border: 3px solid black;
    padding: 20px; 
    margin-top:auto;
}
  
#demo {font-family: 'Times New Roman', Times, serif;
   text-align: left;}